blockquote {
    border-left: 4px solid $white;
    font-size: 36px;
    font-style: italic;
    margin: 0;
    max-width: 760px;
    padding: 25px;
    position: relative;

    p {
        margin: 0;
    }

    & + p {
        font-size: 18px;
        font-style: italic;
        padding-left: 33px;
    }

    &:before {
        color: $white;
        content: '\201C';
        font-size: 80px;
        font-weight: 700;
        left: 0;
        line-height: 0;
        position: absolute;
        text-indent: 0;
        text-shadow: 3px 7px 5px rgba(255, 255, 255, 0.1);
        top: 20px;
    }
    &:after {
        bottom: 0px;
        color: $white;
        content: '\201D';
        font-size: 80px;
        font-weight: 700;
        line-height: 0;
        position: absolute;
        right: 50px;
        text-indent: 0;
        text-shadow: 3px 7px 5px rgba(255, 255, 255, 0.1);
    }
}