.row {
    display: block;
    float: left;
    margin: -15px 0 0 -15px;
    @include clearfix;
}

div[class^="col-md"] {
    float: none;
    max-width: 100%;
    width: 100%;
    padding: 15px 0 0 15px;

    @include breakpoint(md) {
        float: left;
        max-width: 50%;

        & + div[class^="col-md"] {
            max-width: 50%;
        }
    }
    @include breakpoint(xl) {
        max-width: 65%;

        & + div[class^="col-md"] {
            max-width: 35%;
        }
    }
}