.contact {
    display: block;
    margin: -30px 0 0 -15px;
    @include clearfix;
}

.contact__left,
.contact__right {
    padding: 30px 0 0 15px;
    width: 100%;

    @include breakpoint(lg) {
        float: left;
    }
}

.contact__left {
    max-width: 100%;

    @include breakpoint(lg) {
        max-width: 25%;
    }
}

.contact__right {
    max-width: 100%;

    @include breakpoint(lg) {
        max-width: 75%;
    }
}

.contact__map-wrapper {
    position: relative;
    width: 100%;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
        position: relative;
        z-index: -1;

        @include breakpoint(md) {
            padding-bottom: 75%;
        }
        @include breakpoint(lg) {
            padding-bottom: 50%;
        }
    }
}

.contact__map {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}