.footer {
    background-color: $primary;
    color: $white;
    display: block;
    position: relative;
    transform: translateX(0);
    transition: .25s ease-in-out transform;
    width: 100%;
    @include clearfix;

    .is-homepage & {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        transform: translateY(100%);

        .footer__toggler {
            border-bottom: 50px solid transparent;
            border-left: 50px solid $primary;
            border-top: 50px solid transparent;
            content: "";
            cursor: pointer;
            height: 0;
            position: fixed;
            right: -8px;
            top: -60px;
            transform: rotate(45deg);
            width: 0;
        }
        &:after {
            content: "\f062";
            cursor: pointer;
            pointer-events: none;
            position: fixed;
            right: 9px;
            top: -28px;
            transition: .25s ease-in-out transform;
            @extend .fa;
        }

        &--open {
            transform: translateX(0);

            &:after {
                transform: rotate(180deg);
            }
        }
    }
}

.footer__section {
    display: block;
    margin-top: 25px;
    width: 100%;

    &:last-of-type {
        margin-bottom: 20px;
    }

    @include breakpoint(md) {
        float: left;
        margin: 25px 0;
        width: 33.333%;

        &:last-of-type {
            margin-bottom: 25px;
        }

        &--socials {
            text-align: center;
        }
    }
}

.footer__facebook,
.footer__instagram {
    color: $white;
    font-size: 30px;
}

.footer__facebook {
    margin-right: 20px;
}