.gallery {
    display: block;
    @include clearfix;
}

.gallery__item {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
    font-size: 0;
    overflow: hidden;
    float: left;
    user-select: none;

    @include breakpoint(sm) {
        max-width: 50%;
    }
    @include breakpoint(md) {
        max-width: 33.333%;
    }
    @include breakpoint(xl) {
        max-width: 25%;
    }
}

.gallery__item-inner {
    position: relative;
    display: block;
    cursor: pointer;
}

.gallery__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    top: 0;
    background-color: rgba($black, .6);
    color: $white;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0;
    transition: .25s ease-in-out opacity;

    &:before,
    &:after {
        background-color: rgba($white, .2);
        position: absolute;
        top: 50%;
        left: 50%;
        height: 2px;
        width: 70%;
        content: "";
        z-index: 10;
        transition: .25s ease-in-out transform;
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    .gallery__item-inner:hover & {
        opacity: 1;

        &:before {
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
        &:after {
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
    }

    span {
        position: absolute;
        z-index: 50;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.gallery__image {
    width: 100%;
    height: auto;
    cursor: pointer;
}