.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primary;
    z-index: z-index(header);
}

.header__logo {
    position: absolute;
    top: 0;
    right: $container-padding;
}

.header__mainnav {
    display: none;

    @include breakpoint(md) {
        display: block;
    }
}

.header__navicon {
    display: block;
    margin: 21px 0 20px;

    @include breakpoint(md) {
        display: none;
    }
}