.hero {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    .flickity-slider,
    .flickity-viewport {
        height: 100% !important;
    }

    .flickity-page-dots {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
    }
}

.hero__items,
.hero__item {
    display: block;
    height: 100%;
    width: 100%;
}

.hero__image {
    width: 100%;
    height: 100%;
    display: block;
    background: no-repeat center 10%;
    background-size: cover;
}

.hero__arrow {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    cursor: pointer;
    transition: .25s ease-in-out opacity;
    width: 35px;
    height: 70px;

    &--disabled {
        cursor: default;
        opacity: .3;
    }

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        transform: translateY(-50%);
        z-index: -1;
    }

    &--left {
        left: 0;

        .fa {
            left: 5px;
        }

        &:before {
            border-top: 35px solid transparent;
            border-bottom: 35px solid transparent;
            border-left: 35px solid $black;
            left: 0;
        }
    }
    &--right {
        right: 0;

        .fa {
            right: 5px;
        }

        &:before {
            border-top: 35px solid transparent;
            border-bottom: 35px solid transparent;
            border-right: 35px solid $black;
            right: 0;
        }
    }

    .fa {
        position: absolute;
        top: 27px;
    }
}