.logo {
    display: block;
}

.logo__image {
    display: block;
    width: 100px;
    height: auto;
    transition: .25s ease-in-out width;

    @include breakpoint(md) {
        width: 178px;
    }

    .logo--small & {
        width: 110px;
    }
}