.mainnav {
    display: block;
    @include clearfix;
}

.mainnav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainnav__item {
    display: block;

    @include breakpoint(md) {
        float: left;
        display: block;
    }
}

.mainnav__link {
    display: block;
    color: $white;
    padding: 23px 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: .25s ease-in-out color;

    &:hover {
        color: rgba($white, .5);
    }
}