.mobilenav {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    top: 65px;
    transform: translateY(-100%);
    transition: .25s ease-in-out transform;
    background-color: lighten($primary, 5);
    z-index: z-index(mobilenav);

    &--active {
        transform: translateY(0);
    }
}

.mobilenav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobilenav__item {
    display: block;

    @include breakpoint(md) {
        float: left;
        display: block;
    }
}

.mobilenav__link {
    display: block;
    color: $white;
    padding: 10px $container-padding;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .8px;
    transition: .25s ease-in-out color;

    &:hover {
        color: rgba($white, .5);
    }
}