$line-height:           4px;
$line-spacing:          6px;

$navicon-width:         30px;
$navicon-height:        (($line-height + $line-spacing) * 3) - $line-spacing;

$navicon-color:         #fff;
$navicon-active-color:  #FF4E50;

.navicon {
    cursor: pointer;
    display: inline-block;
    height: $navicon-height;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    vertical-align: middle;
    width: $navicon-width;
}

.navicon__line {
    display: block;
    position: absolute;
    left: 0;
    transition: 0.25s ease-in-out;
    opacity: 1;

    background-color: $navicon-color;

    width: $navicon-width;
    height: $line-height;

    .navicon--active & {
        background-color: $navicon-active-color;
    }

    &:nth-of-type(1) {
        top: 0;

        .navicon--active & {
            top: $line-height + $line-spacing;
            transform: rotate(45deg);
        }
    }
    &:nth-of-type(2) {
        top: $line-height + $line-spacing;

        .navicon--active & {
            left: -30px;
            opacity: 0;
        }
    }
    &:nth-of-type(3) {
        top: ($line-height + $line-spacing) * 2;

        .navicon--active & {
            top: $line-height + $line-spacing;
            transform: rotate(-45deg);
        }
    }
}