.table {
    color: $white;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th {
        text-align: left;
        padding-bottom: 10px;
        font-weight: 400;
    }

    tr > td {
        border: none;
        padding: 8px 0 11px;

        &:first-of-type {
            width: 40%;
            padding-right: 50px;
        }
    }
    tr:not(:last-of-type) td {
        border-bottom: 1px solid $white;
    }
    tr:hover td {
        background-color: rgba(255, 255, 255, .1);
    }
}