html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding-top: $header-height;
    background-color: $primary-light;
    font-weight: 300;
    color: $white;
}

*, *:after, *:before {
    box-sizing: border-box;
}