$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);


@mixin breakpoint($breakpoint: md) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}