@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
}

h3 {
    margin: 35px 0 10px;

    &:first-child {
        margin-top: 0;
    }

    & + p {
        margin: 0;
    }
}

html {
    font-family: 'Lato', sans-serif;
}

a {
    color: $white;

    &:hover {
        color: darken($white, 20);
    }
}

strong {
    letter-spacing: .5px;
}