// ==============================
// Colors
// ==============================

$black: #000;
$white: #fff;

$grey: #696969;

$primary: #0B0B0E;
$primary-light: #1f1f23;


// ==============================
// Fonts
// ==============================

// Font Awesome
$fa-font-path: "../../fonts/font-awesome";
$fa-filename: "font-awesome-pro";

// ==============================
// Header
// ==============================

$header-height: 65px;

// ==============================
// Container
// ==============================

$container-padding: 30px;